.banner{
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
        width: 50%;
    }

    .banner-text{
        margin-top: 20px;

        .title{
            font-size: 40px;
            font-weight: 800;
        }

        .info{
            font-size: 20px;
        }
    }
}